################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NET.W.2016.01.Bulavsky.04/v14
